@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background: url('../media/homeBG.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0; 
    padding: 0;
    height: 100%; 
}
.container {
    text-align: center;
    margin: 8rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#image_holder{
    height: width; 
    width: 15%; 
    border-radius: 50%; 
    object-fit: cover; 
    transition: opacity 1s ease; /* Transition for opacity */
}

#main_page_btn
{
    margin-top: 2rem; 
    padding: 0.5rem 1rem; 
    font-size: 1.25rem; 
    cursor: pointer; 
    background-color: #93aeff; 
    color: white; 
    border: none;
    border-radius: 0.5rem;
    font-family: "Permanent Marker", cursive;
    transition: opacity 1s ease; /* Transition for opacity */
}

#main_page_btn:hover
{
    background-color: #87a5ff; 
}
/* Animation classes */
.fade-out {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 100;
    pointer-events: none;
}

.hide-folders {
    opacity: 0;
}

